body{
    background-color: #f8f8f8;
}
#header{
    height: 85px;
}

#header .container-fluid{
    width: 1200px;
}

.navbar-brand{
    width: 200px;
}
.logo-slogan{
    margin-top: 3px;
    display: block;
    height: 20px;
    overflow: hidden;
    font-size: 11px;
    color: #999;
}
.navbar-collapse{
    margin-bottom: 15px;
    margin-top: 15px;
}
.form-control{
    margin-left: -5px;
    width: 600px !important;
}
#promotions{
    margin-top: 10px;
}
#promotions p a{
    display: inline-block;
    width: 200px;
    margin: 5px 25px 10px;
}

#container{
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
}

#myCarousel{
    display: inline-block;
    width: 750px;
    height: 400px;
}
#homepage-link {
    display: block;
    width: 990px;
    height: 400px;
    padding-bottom: 10px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/404_notice.png) no-repeat;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}
.coupon-link {
    color: orange !important;
    font-weight: bold;
}